.contact {
  &__text {
    color: $white;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 300;
  }

  &__form-container {
    background-color: $dark-blue;
    padding: 3rem 2rem;
    width: 60rem;
    height: 40rem;
    position: relative;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    transform: translateY(16rem);

    @media only screen and (max-width: 42em) {
      width: 90%;
    }

    @media only screen and (max-width: 33.6em) {
      padding: 5rem 2rem;
      margin-bottom: 10rem;
      margin-top: 30rem;
      transform: translateY(0);
    }
  }

  &__info-container {
    width: 60%;
    float: right;
    height: 100%;

    @media only screen and (max-width: 33.6em) {
      float: left;
      width: 100%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
  }

  &__inputs {
    padding: 1rem 1.3rem;
    background-color: $darkest-blue;
    border-radius: 2px;
    border: none;
    caret-color: $white;
    color: $white;
    outline: none;
    border: 1px solid transparent;
    transition: 0.3s;
    resize: none;

    @media only screen and (max-width: 33.6em) {
      margin: 0.5rem 0;
    }
  }

  &__inputs:focus {
    border: 1px solid $light-blue;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 400;
    color: $white;
  }

  &__btn {
    align-self: flex-start;
    padding: 1rem 2rem;
    text-transform: uppercase;
    width: 10rem;
    font-family: "Nunito", sans-serif;
    color: $darkest-blue;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.2s;
    border: none;
    border-radius: 2px;
    background-color: rgb(230, 230, 230);

    @media only screen and (max-width: 41.5em) {
      margin-top: 1rem;
    }
  }

  &__btn:hover {
    background-color: rgb(211, 207, 207);
  }
}

::-webkit-input-placeholder {
  color: $white;
}

.contact-left {
  width: 30rem;
  height: 35rem;
  background-color: $white;
  position: absolute;
  left: -10rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  box-shadow: 0 1rem 1rem rgba(black, 0.2);
  padding: 2rem 3rem;

  @media only screen and (max-width: 42em) {
    top: 50%;
    left: 1.2rem;
    width: 35%;
  }

  @media only screen and (max-width: 33.6em) {
    width: 90%;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    height: 20rem;
  }

  &__title {
    font-size: 1.8rem;
    color: $grey-dark;
    margin-bottom: 3rem;
  }

  &-info {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 1.8rem;
    color: $grey-light;
  }

  &-info i {
    margin-right: 1.5rem;
    font-size: 1.7rem;
    color: $med-blue;
  }

  &-socials {
    font-size: 3rem;

    margin-right: 2rem;
    color: $med-blue;
    transition: 0.2s;
    cursor: pointer;
  }

  &-socials:hover {
    color: $light-blue;
  }

  &__social-container {
    margin-top: 5rem;

    @media only screen and (max-width: 33.6em) {
      margin-top: 0;

      display: flex;
      flex-direction: column;
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.svg {
  position: relative;
  z-index: -2;

  display: block;
  width: 100%;

  @media only screen and (max-width: 34.1em) {
    display: none;
  }
}

.success {
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: 1px;
  color: $grey-dark;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.text {
  text-align: center;
  font-size: 1.5rem;
  color: #777;
  margin-bottom: 2rem;
}

.anchor {
  font-size: 1.8rem;
  color: $med-blue;
  display: table;
  margin: 0 auto;
}
