.contact {
  background-color: transparent;
  width: 100%;
  height: 30rem;
  margin-top: 50rem;
  position: absolute;
  bottom: 0;
  left: 0;

  &__text {
    color: $white;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 300;
  }

  &__form-container {
    background-color: $dark-blue;
    padding: 3rem 2rem;
    width: 60rem;
    height: 40rem;
    position: absolute;
    top: -15rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    z-index: 2;
  }

  &__info-container {
    width: 60%;
    float: right;
    height: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
  }

  &__inputs {
    padding: 1rem 1.3rem;
    background-color: $darkest-blue;
    border-radius: 2px;
    border: none;
    caret-color: $white;
    color: $white;
    outline: none;
    border: 1px solid transparent;
    transition: 0.3s;
    resize: none;
  }

  &__inputs:focus {
    border: 1px solid $light-blue;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 400;
    color: $white;
  }

  &__btn {
    align-self: flex-start;
    padding: 1rem 2rem;
    text-transform: uppercase;
    width: 10rem;
    font-family: "Nunito", sans-serif;
    color: $darkest-blue;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.2s;
    border: none;
    border-radius: 2px;
  }

  &__btn:hover {
    background-color: rgb(211, 207, 207);
  }
}

::-webkit-input-placeholder {
  color: $white;
}

.contact-left {
  width: 30rem;
  height: 35rem;
  background-color: $white;
  position: absolute;
  left: -10rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  box-shadow: 0 1rem 1rem rgba(black, 0.2);
  padding: 2rem 3rem;

  &__title {
    font-size: 1.8rem;
    color: $grey-dark;
    margin-bottom: 3rem;
  }

  &-info {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 1.8rem;
    color: $grey-light;
  }

  &-info i {
    margin-right: 1.5rem;
    font-size: 1.7rem;
    color: $med-blue;
  }

  &-socials {
    font-size: 3rem;

    margin-right: 2rem;
    color: $med-blue;
    transition: 0.2s;
    cursor: pointer;
  }

  &-socials:hover {
    color: $light-blue;
  }

  &__social-container {
    margin-top: 5rem;
  }
}

.svg {
  margin-top: 40rem;
  position: relative;
  z-index: -2;

  display: block;
  width: 100%;
}
