@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(1.5rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.item-special {
  transform: translateY(2rem);

  @media only screen and (max-width: 28.2em) {
    transform: translateY(4rem);
  }

  &__anchor {
    color: $med-blue;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.3s;

    &:hover {
      color: $light-blue;
    }
  }
}

.header {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to right,
      rgba(29, 49, 134, 0.4),
      rgba(58, 78, 167, 0.4)
    ),
    url(../img/city-4.jpg);

  background-size: cover;
  background-position: center;

  padding: 2rem 5rem;
  position: relative;

  &__dropdown {
    font-size: 5rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;

    @media only screen and (max-width: 30.05em) {
      top: 45%;
    }
  }

  &__title {
    font-size: 3rem;
    font-weight: 400;
    color: $white;
    letter-spacing: 3px;
    display: inline-block;
    text-decoration: none;
    font-family: "Arizona", sans-serif;
  }

  &__footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 17rem;
    background-color: rgba(27, 27, 27, 0.795);
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 54.5em) {
      height: 21rem;
    }

    @media only screen and (max-width: 38em) {
      height: 24rem;
    }

    @media only screen and (max-width: 33.75em) {
      height: 27rem;
    }

    @media only screen and (max-width: 28.2em) {
      flex-wrap: wrap;
      height: 30rem;
    }

    &__heading {
      font-size: 1.8rem;
      color: $white;
      margin-bottom: 0.3rem;
    }

    &__text {
      font-size: 1.5rem;
      color: $white;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 25%;
      align-self: flex-start;

      @media only screen and (max-width: 54.5em) {
        align-self: center;
      }

      @media only screen and (max-width: 38em) {
        width: 30%;
      }

      @media only screen and (max-width: 33.75em) {
        align-self: center;
      }

      @media only screen and (max-width: 28.2em) {
        width: 42%;
      }
    }
  }

  &__container {
    margin-top: 5rem;
  }

  &__title-main {
    color: rgba(255, 255, 255, 0.808);
    font-size: 12rem;
    letter-spacing: 4px;
    font-weight: 900;
    white-space: nowrap;
    margin-bottom: 3rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media only screen and (max-width: 30.05em) {
      font-size: 9rem;
      top: 30%;
    }
  }

  &__anchor {
    color: $grey-dark;
  }

  &__pg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: $med-blue;
    text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline,
      1px 1px 0 $outline;
    font-size: 8rem;
    font-weight: 200;
    letter-spacing: 1rem;

    margin-bottom: 1rem;
    font-family: "Arizonia", cursive;

    @media only screen and (max-width: 30.05em) {
      font-size: 6rem;
      top: 30%;
    }
  }

  &__resume {
    background-color: $med-blue;

    border: none;
    border-radius: 3px;
    text-decoration: none;
    color: $white;
    font-size: 1.5rem;

    font-weight: 400;
    padding: 1rem 2rem;

    text-align: center;
    letter-spacing: 2px;
    display: inline-block;
    margin-right: 1rem;
    text-transform: uppercase;
    transition: all 0.4s;
    transform: translateY(1.8rem);

    @media only screen and (max-width: 54.5em) {
      transform: translateY(2.4rem);
    }

    @media only screen and (max-width: 28.2em) {
      transform: translateY(1rem);
    }

    &:hover {
      background-color: $light-blue;
    }
  }
}

.sidebar {
  background-image: linear-gradient(to bottom, $dark-blue, $grey-dark);

  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.8s;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    padding: 1.5rem 3rem;
    position: relative;
    transition: 0.8s;
  }
  &__link::after {
    content: "";
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s;
    z-index: -1;
  }

  &__link:hover::after {
    transform: scaleY(1);
    width: 100%;
  }

  &__link:hover {
    color: rgb(78, 78, 78);
  }

  &__input {
    display: none;
  }

  &__label {
    background-color: rgb(51, 51, 51);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    top: 5rem;
    left: -8rem;
    transform: translateY(-50%);
    border: 3px solid white;
    cursor: pointer;
    transition: all 0.8s;
    outline: none;
    box-shadow: 0 1rem 1rem rgba(black, 0.2);
    z-index: 1000;
  }

  &__label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    height: 50%;
    z-index: 1;
    border-radius: 50%;
    transition: 0.8s;
    opacity: 0;
  }

  &__label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 3px;
    background-color: white;
  }

  &__input:checked ~ &__label::after {
    opacity: 1;
  }

  &__input:checked ~ &__label::before {
    opacity: 0;
  }
}

.social-wrapper {
  display: flex;
}

.github {
  font-size: 3.5rem;
  margin: 0 3rem;
  color: $light-blue;
  transition: 0.3s;
  &:hover {
    color: $white;
  }
}

.linkedin {
  font-size: 3.5rem;
  color: $light-blue;
  transition: 0.3s;
  &:hover {
    color: $white;
  }
}

.icon {
  margin-right: 1.5rem;
}
