.intro {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;

  &__border {
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    padding: 0.5rem;
    background: linear-gradient(to left, $grey-dark, $light-blue);
  }
  &__photo {
    background-image: url(../img/jared.jpeg);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: bottom;
  }

  &__title {
    text-align: center;
    font-size: 5rem;
    color: $grey-dark;
    font-weight: 300;
    margin-top: 1rem;
    display: inline-block;

    position: relative;
  }

  &__title::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;

    width: 5rem;
    background-color: $light-blue;
    height: 3px;
  }

  &__about-container {
    margin-top: 8rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15rem;

    @media only screen and (max-width: 46.8em) {
      flex-direction: column;
      padding: 3rem;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 50%;

    @media only screen and (max-width: 46.8em) {
      width: 100%;
      align-items: center;
      margin-bottom: 8rem;
    }
  }

  &__initials {
    padding: 1.2rem;
    border-radius: 25%;
    width: 5rem;
    height: 5rem;
    background-color: rgb(255, 58, 32);
    color: $white;
    border: 5px solid rgb(211, 217, 229);
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  &__column-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right bottom, $grey-light, $grey-dark);
    box-shadow: 0 1rem 2rem rgba(black, 0.3);
    border-radius: 8px;
    transform: scale(1.1);
    padding: 3rem;
    transition: 0.2s;

    @media only screen and (max-width: 46.8em) {
      margin: 3rem;
    }

    &:hover {
      transform: scale(1.15);
      box-shadow: 0 2rem 2rem rgba(black, 0.3);
    }
  }

  &__developer {
    font-size: 3rem;
    color: #333333;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1rem;

    @media only screen and (max-width: 46.8em) {
      width: 80%;
      font-size: 4rem;
      margin-bottom: 2rem;
    }
  }

  &__personal {
    font-size: 3rem;
    color: $white;
    font-weight: 300;

    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  &__item {
    list-style-type: none;
    margin: 0.5rem;
    color: $white;
  }

  &__span::after {
    content: ":";
    position: absolute;
    right: -10px;
  }

  &__span {
    position: relative;
    font-size: 2rem;
  }

  &__span::before {
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(to right, $light-blue, $med-blue);
  }

  &__span-info {
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: 300;

    @media only screen and (max-width: 24.2em) {
      font-size: 1.7rem;
    }
  }

  &__resume-btn:hover {
    background-color: #3b64ac;
  }

  &__resume-btn {
    display: block;

    background-color: $med-blue;
    color: $white;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0.5rem;
    transition: 0.3s;
    position: relative;

    @media only screen and (max-width: 46.8em) {
      align-self: flex-start;
    }
  }

  &__resume-btn:hover::after {
    transform: scaleY(1);
    width: 100%;
  }

  &__about-me {
    font-size: 1.5rem;
    color: #6d6c6c;
    line-height: 1.7;

    @media only screen and (max-width: 46.8em) {
      width: 80%;
      font-size: 2rem;
    }
  }
}

.personal {
  font-size: 10rem;
  color: transparent;
  background-image: linear-gradient(to right, $med-blue, $dark-blue);
  -webkit-background-clip: text;
}

.skill-name {
  font-size: 2.2rem;
  margin-top: 1rem;
  font-weight: 400;
  color: $grey-dark;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 5rem;
  padding: 10rem;
}

.skill-title {
  text-align: center;
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: 300;
  color: $grey-dark;
}
