.project {
  display: grid;
  padding: 0 8rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-column-gap: 5rem;

  grid-row-gap: 5rem;
  margin-top: 8rem;

  &__item {
    background-color: $white;

    box-shadow: 0 1rem 1rem rgba(black, 0.2);
    border-radius: 4px;
  }

  &__text {
    color: $grey-dark;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 400;
  }

  &__row {
    display: flex;
  }

  &__links {
    display: inline-block;
    color: $dark-blue;
    font-size: 3rem;
    margin: 1rem 1rem;
    padding: 0 1rem;
    transition: 0.3s;
    border-radius: 4px;

    &:hover {
      background-color: rgb(221, 221, 221);
      transform: translateY(-3px);
    }
  }

  &__img {
    height: 20rem;
    background-size: cover;
    border-top: 1px solid $grey-dark;

    width: 100%;
  }

  &__name {
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 300;
    color: $white;
    text-align: center;
    background-image: linear-gradient(to bottom, $dark-blue, $med-blue);
    padding: 1rem 1.5rem;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    align-items: center;
  }
}

.special {
  grid-column-start: 1;
  grid-column-end: 4;
}
