.project {
  display: grid;
  padding: 0 8rem;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-column-gap: 5rem;

  grid-row-gap: 5rem;
  margin-top: 8rem;
  margin-bottom: 8rem;

  @media only screen and (max-width: 31.25em) {
    padding: 0 3rem;
  }

  &__item {
    background-color: $white;

    box-shadow: 0 1rem 1rem rgba(black, 0.2);
    border-radius: 4px;
    overflow: hidden;
  }

  &__text {
    color: $grey-dark;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 400;
  }

  &__row {
    display: flex;
  }

  &__links {
    display: inline-block;
    color: $dark-blue;
    font-size: 3rem;
    margin: 1rem 1rem;
    padding: 0 1rem;
    transition: 0.3s;
    border-radius: 4px;

    &:hover {
      background-color: rgb(221, 221, 221);
      transform: translateY(-3px);
    }
  }

  &__img {
    height: 20rem;
    background-size: cover;

    width: 100%;

    @media only screen and (max-width: 38.5em) {
      height: auto;
    }
  }

  &__name {
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 300;
    color: $white;
    text-align: center;
    background-image: linear-gradient(to bottom, $dark-blue, $med-blue);

    padding: 1rem 1.5rem;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    align-items: center;

    @media only screen and (max-width: 35.25em) {
      padding: 4rem;
    }
  }

  &__img-special {
    width: 50%;

    background-size: cover;
    border-top: 1px solid $grey-dark;
  }

  &__links-special {
    display: inline-block;
    color: rgb(17, 224, 121);
    font-size: 5rem;
    margin: 0 1rem;
    padding: 0 2rem;
    transition: 0.3s;
    border-radius: 4px;

    @media only screen and (max-width: 44.5em) {
      margin: 0;
    }

    @media only screen and (max-width: 26.5em) {
      font-size: 3.8rem;
    }

    &:hover {
      background-color: rgb(240, 240, 240);
      transform: translateY(-3px);
    }
  }

  &__row-special {
    position: absolute;
    bottom: 0.8rem;
    left: 0.8rem;
    z-index: 500;
  }
  &__special-container {
    width: 50%;

    background-image: linear-gradient(
      to bottom,
      rgba(29, 49, 134, 0.7),
      rgba(58, 78, 167, 0.7)
    );

    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    padding: 3rem 8rem;
    align-items: center;
    justify-content: space-evenly;

    @media only screen and (max-width: 44.5em) {
      width: 75%;
    }

    @media only screen and (max-width: 30.25em) {
      padding: 1rem 3rem;
      justify-content: center;
    }
  }

  &__text-special {
    color: $white;
    font-size: 1.8rem;
    letter-spacing: 2px;
  }

  &__name-special {
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-weight: 400;
    color: $white;
    align-self: flex-start;
  }

  &__repo {
    position: absolute;
    top: 4rem;
    left: 8rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: $white;
  }

  &__item-special {
    position: relative;
    grid-column: 1 / -1;
    display: flex;
    background-image: linear-gradient(
        to right,
        rgba(2, 2, 2, 0.5),
        rgba(2, 2, 2, 0)
      ),
      url(../img/stockwatchnew.png);

    background-size: cover;
    object-fit: cover;
    height: 45rem;
    box-shadow: 0 1rem 1rem rgba(black, 0.2);
  }
}

.star-adjust {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 5rem;
  color: $white;
  z-index: 100;
}

.projects-title {
  text-align: center;
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: 300;
  color: $grey-dark;
  margin-top: 8rem;
}
