*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: 65em) {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.7;
  background-color: rgb(211, 217, 229);

  position: relative;
}

main {
  transition: 0.3s;
}
